
<h1><%= @book.title %></h1>

<h3>Author: <%=@book.author%></h3>

<p>Genre: <%=@book.genre%></p>

<p>Published: <%=@book.published_date%></p>

<p>Read: 
<if @book.read == true>
    <p> yes </p>
<else>
    <p> no </p>
<%end%>

<p>Description: <%=@book.description%></p>

