
<h1><%= @book.title %></h1>

<h3>Author: <%=@book.author%></h3>

<h4>Genre: </h4><p><%=@book.genre%></p>

<h4>Published: </h4><p><%=@book.published_date%></p>

<h4>Description: <h4>

<p><%=@book.description%></p>

