
<h1><%= @book.title %></h1>

<h3>Author: <%=@book.author%></h3>

<h4>Genre: </h4><p><%=@book.genre%></p>

<h4>Published: </h4><p><%=@book.published_date%></p>

 
<%if @book.read == true%>
    <h4> Read:</h4><p> yes </p>
<%else%>
   <h4> Read:</h4><p> no </p>
<%end%>

<h4>Description: <h4>

<p><%=@book.description%></p>

